/* h1{
    color: black;
    background-color: aquamarine;
} */

/* h1{
    color: orange;
}

p{
    background-color: black;
    color: white;
}

button{
    background-color: blue;
    color: white;
} */


/* div{
    width: 80px;
    height: 80px;
    background-color: skyblue;
    margin-left: 10px;
}

.rotated{
    transform: rotate(45deg);
    background-color: pink;
    margin-left: 10px;
}

div:hover{
    background-color:black;
    transition: 1s;
}

.rotated:hover{
    transform: rotate(45deg);
    background-color: red;
    margin-left: 10px;
    transition: 2s;
} */



/* transform

div{
    position: absolute;
    background-color: lightgrey;
    left: 40px;
    top: 40px;
    width: 100px;
    height: 100px;
}

.rotate{
    background-color: transparent;
    outline: 2px dashed;
    transform: rotate(45deg);
}

.rotate-translate{
    background-color:pink ;
    transform: rotate(45deg) translateX(190px);
}

.translate-rotate {
    background-color: gold;
    transform: translateX(180px) rotate(45deg);
  } */



  /* transform skew */

/* body{
 margin: 20px;
}

  div{
    background-color: pink;
    width: 80px;
    height: 80px;
  }

  .skew{
    background-color: blue;
    transform: skew(-10deg);
  } */




  /* box Shadow */
  /* div {
    width: 200px;
    height: 40px;
    background-color: pink;
    margin: 10px auto;
    text-align: center;
    display: flex; */
    /* justify-content: center;           Horizontally center
    align-items: center;                     Vertically align to bottom
    box-shadow: 2px 2px 8px yellow;               xoffset yoffset blur and color */
  /* } */
  


  /* background image */

  div{
    width: 800px;
    height: 500px;
    background-color: aqua;
    margin: 10px auto;
    background-image: url(background.jpeg);
    /* background-size: contain;       contain means repeate */
    background-size: cover;
    color: white;
    font-size: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
  }