.box{
    height: 100px;
    width: 300px;
    background-color: pink;
    /* animation-name: myAnimation; */
    /* animation-name: colorAnimation; */
    animation-name: widthAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-direction: normal;
    animation-delay: 0;
    /* animation-iteration-count: 3; */
    animation-iteration-count: infinite;

}


@keyframes myAnimation{
    from {font-size: 20px;}
    to {font-size:40px;}
}


@keyframes colorAnimation{
    from{background-color: green;}
    to {background-color: pink;}

}

@keyframes widthAnimation{
    from{width: 30px;}
    to{width: 400px;}
}